services:
  job-analyzer-dev:
    build:
      context: .
      target: dev
    ports:
      - "3050:3000"
    env_file:
      - .env.docker
    environment:
      - DATABASE_URL=postgresql://dbadmin:localdevpass@host.docker.internal:5434/jobanalyzer?schema=public
      - PORT=3000
      - HOST=0.0.0.0
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.nuxt
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  app-storage:
